---
layout: default
---

<ul class="list pa0">
  {% assign thesize = site.poems.size %}
  {% assign poems = site.poems | sort: 'date' | reverse %}
  {% for post in poems %}
  <li class="mv2">
    <main class="tl f6 relative pa4 pa5-ns overflow-hidden">
      {% if post.title %}
        <div class="mb4">
          <div class="fw600 light-silver mt1">{{ post.date | date_to_string }}</div>
          <h1 class="ttu f3 mt0 lh-title cb mb2">
            {{ post.title }}
          </h1>
        </div>
      {% endif %}
      <div class="markdown-body">
        {{ post.content }}
      </div>
    </main>
  </li>
  {% assign thesize = thesize | minus: 1 %}
  {% if thesize > 0 %}
      <hr>
  {% endif %}
  {% endfor %}
</ul>
